fastapi
uvicorn[standard]
python-multipart
pydantic
requests
redis
pypdf

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langgraph

sentence-transformers
transformers
torch

pymilvus